* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
  }
  
  .button {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px 10px;
    cursor: pointer;
  }
  .button:hover {
    background-color: lightgreen;
  }
  .button.playing {
    background-color: lightseagreen;
  }
  .button.playing:hover {
    background-color: lightyellow;
  }